body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  
  width: 40%;
  text-align: center;
  border-right: 0.05em solid #888888;
  
margin-top: .1em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
background-color:  #18246e;
color: white;
padding: 1rem 1.5rem;
border-radius: 1.5rem;
}

.navbar-fix{
  margin-bottom:3em;
  
}
.section{
  box-shadow: 5px 10px 8px #3c3737;
}



.indigo.lighten-4 {
  background-color: #18246e !important;
}

