body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




h1{
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 0.05em solid pink;
  width: 40%;
  text-align: center;
  border-right: 0.05em solid pink;
  box-shadow: 4px 4px 5px #888888;
margin-top: .1em;
}
